In [1]:
# Trabajo final de Python
import pandas as pd
import numpy as np
import datetime 
import statsmodels.api as sm

In [2]:
Forbes2000 = sm.datasets.get_rdataset('Forbes2000', 'HSAUR')
Forbes2000 = Forbes2000.data

In [3]:
Forbes2000.head(10)

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54
5,6,Bank of America,United States,Banking,49.01,10.81,736.45,117.55
6,7,HSBC Group,United Kingdom,Banking,44.33,6.66,757.60,177.96
7,8,Toyota Motor,Japan,Consumer durables,135.82,7.99,171.71,115.40
8,9,Fannie Mae,United States,Diversified financials,53.13,6.48,1019.17,76.84
9,10,Wal-Mart Stores,United States,Retailing,256.33,9.05,104.91,243.74

In [4]:
# Selecionar del dataframe los que incluyan "elect", no se incluye Mayuscula
# (sin tener en cuenta may√∫sculas), segun entiendo, hay que excluir mayusculas, pero si es asi, no se puede continuar
# con los siguientes pasos, asique se incluyen Mayusculas

Forbes2000red = Forbes2000[Forbes2000['name'].str.contains("elect")==True]

In [5]:
Forbes2000red.head(10)

,rank,name,country,category,sales,profits,assets,marketvalue
424,425,STMicroelectronics,Switzerland,Semiconductors,7.98,0.28,11.98,24.11
829,830,United Microelectronics,Taiwan,Semiconductors,2.18,0.20,9.29,14.66
1820,1821,Chi Mei Optoelectronics,Taiwan,Technology hardware & equipment,1.72,0.13,2.62,3.68

In [6]:
# Selecionar del dataframe los que incluyan "elect", se incluye E Mayuscula
Forbes2000ele = Forbes2000[Forbes2000['name'].str.contains('elect', case=False)==True]

In [7]:
Forbes2000ele.head(10)

,rank,name,country,category,sales,profits,assets,marketvalue
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
44,45,Samsung Electronics,South Korea,Semiconductors,50.22,5.95,54.58,72.72
71,72,Tokyo Electric Power,Japan,Utilities,41.62,1.40,116.68,30.63
151,152,Korea Electric Power,South Korea,Utilities,18.01,2.57,58.38,11.84
156,157,Kansai Electric Power,Japan,Utilities,22.12,0.68,60.52,17.56
170,171,Chubu Electric Power,Japan,Utilities,18.41,0.90,52.08,15.59
219,220,Emerson Electric,United States,Conglomerates,14.33,1.12,15.71,26.88
280,281,Tohoku Electric Power,Japan,Utilities,13.48,0.52,34.49,8.67
284,285,Kyushu Electric Power,Japan,Utilities,12.02,0.54,34.69,8.48
322,323,Schneider Electric,France,Capital goods,11.04,0.54,14.37,15.39

In [8]:
# Utilizando como √≠ndice el pa√≠s y la categor√≠a y orden√°ndolo (sort_index), encontrar el
# valor de mercado de las empresas japonesas y estadounidenses.
# la funcion sort_index esta depreciada, por lo que se sugiere utilizar .sort_values

# Efectuando Sort
ForUSAJP = Forbes2000ele[Forbes2000ele['country'].isin(['United States', 'Japan'])].sort_values(by=['country', 'category'])

In [9]:
# Resultado Sort
ForUSAJP

,rank,name,country,category,sales,profits,assets,marketvalue
1332,1333,Alps Electric,Japan,Business services & supplies,5.09,0.15,4.00,2.30
1460,1461,Nippon Electric Glass,Japan,Business services & supplies,2.78,0.12,4.15,3.25
1467,1468,Oki Electric Industry,Japan,Business services & supplies,4.95,-0.06,5.05,2.69
1996,1997,Yokogawa Electric,Japan,Business services & supplies,2.78,-0.22,2.96,3.29
585,586,Mitsubishi Electric,Japan,Capital goods,30.79,-0.10,26.24,10.28
634,635,Matsushita Electric Works,Japan,Capital goods,11.26,0.19,9.37,6.54
786,787,Sumitomo Electric,Japan,Capital goods,12.60,-0.17,13.46,6.38
1250,1251,Furukawa Electric,Japan,Capital goods,6.01,-0.96,9.91,2.52
1394,1395,Fuji Electric,Japan,Capital goods,7.04,0.03,7.73,1.55
414,415,Matsushita Electric Indl,Japan,Consumer durables,62.62,-0.16,60.46,33.02
641,642,Sanyo Electric,Japan,Consumer durables,19.24,-0.62,21.65,9.43
1336,1337,Funai Electric,Japan,Consumer durables,2.80,0.16,1.60,4.70
1988,1989,Stanley Electric,Japan,Consumer durables,2.00,0.11,1.82,3.23
1155,1156,Tokyo Electron,Japan,Semiconductors,3.90,-0.35,4.36,11.71
1967,1968,Hirose Electric,Japan,Technology hardware & equipment,0.57,0.10,1.63,4.29
1078,1079,Odakyu Electric Railway,Japan,Transportation,5.47,0.07,10.69,3.72
1273,1274,Keio Electric Railway,Japan,Transportation,3.55,0.13,4.40,3.49
1580,1581,Keihin Electric Express,Japan,Transportation,2.65,0.07,6.11,3.22
71,72,Tokyo Electric Power,Japan,Utilities,41.62,1.40,116.68,30.63
156,157,Kansai Electric Power,Japan,Utilities,22.12,0.68,60.52,17.56
170,171,Chubu Electric Power,Japan,Utilities,18.41,0.90,52.08,15.59
280,281,Tohoku Electric Power,Japan,Utilities,13.48,0.52,34.49,8.67
284,285,Kyushu Electric Power,Japan,Utilities,12.02,0.54,34.69,8.48
439,440,Chugoku Electric Power,Japan,Utilities,8.54,0.37,23.36,6.41
727,728,Shikoku Electric Power,Japan,Utilities,4.95,0.22,11.96,4.65
798,799,Hokkaido Electric Power,Japan,Utilities,4.39,0.22,11.85,3.76
856,857,Hokuriku Electric Power,Japan,Utilities,4.08,0.18,13.09,3.74
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
219,220,Emerson Electric,United States,Conglomerates,14.33,1.12,15.71,26.88
1395,1396,Thermo Electron,United States,Health care equipment & services,2.10,0.20,3.39,4.63
621,622,Hughes Electronics,United States,Media,10.12,-0.30,18.95,23.56
646,647,Electronic Data Sys,United States,Software & services,21.48,-0.27,18.28,9.98
863,864,Electronic Arts,United States,Software & services,2.82,0.50,3.34,13.28
1346,1347,Arrow Electronics,United States,Technology hardware & equipment,8.09,0.01,5.04,2.67
567,568,American Electric,United States,Utilities,15.58,-0.16,36.08,13.21
1835,1836,Hawaiian Electric,United States,Utilities,1.76,0.10,9.03,1.94

In [10]:
# Valor de las empresas USA y de Japan

MkvakUSAJP = ForUSAJP.sort_values(["country","category"], ascending=False).groupby("country", as_index=False).sum()
MkvakUSAJP.loc[:, ['country','marketvalue']]

         country  marketvalue
0          Japan       215.10
1  United States       424.69

In [11]:
# Sobre el mismo subconjunto de empresas el√©ctricas, obtener el pa√≠s donde el sector de
# utilities tiene mayor valor de mercado medio en sus empresas

# Efectuando Sort
CountryUtil = Forbes2000ele[Forbes2000ele['category'].isin(['Utilities'])].sort_values(by=['country'])

In [12]:
CountryUtil

,rank,name,country,category,sales,profits,assets,marketvalue
1183,1184,Verbund-Austrian Electric,Austria,Utilities,2.18,0.16,7.27,4.28
1841,1842,Guangdong Electric Power,China,Utilities,0.67,0.14,1.43,3.39
810,811,Hongkong Electric,Hong Kong/China,Utilities,1.49,0.88,7.26,9.04
71,72,Tokyo Electric Power,Japan,Utilities,41.62,1.40,116.68,30.63
156,157,Kansai Electric Power,Japan,Utilities,22.12,0.68,60.52,17.56
170,171,Chubu Electric Power,Japan,Utilities,18.41,0.90,52.08,15.59
280,281,Tohoku Electric Power,Japan,Utilities,13.48,0.52,34.49,8.67
284,285,Kyushu Electric Power,Japan,Utilities,12.02,0.54,34.69,8.48
439,440,Chugoku Electric Power,Japan,Utilities,8.54,0.37,23.36,6.41
727,728,Shikoku Electric Power,Japan,Utilities,4.95,0.22,11.96,4.65
798,799,Hokkaido Electric Power,Japan,Utilities,4.39,0.22,11.85,3.76
856,857,Hokuriku Electric Power,Japan,Utilities,4.08,0.18,13.09,3.74
151,152,Korea Electric Power,South Korea,Utilities,18.01,2.57,58.38,11.84
567,568,American Electric,United States,Utilities,15.58,-0.16,36.08,13.21
1835,1836,Hawaiian Electric,United States,Utilities,1.76,0.10,9.03,1.94

In [13]:
MaxCountryUtil = CountryUtil.sort_values(['country'], ascending=False).groupby("country", as_index=False).mean()

In [14]:
#CountryUtil.loc[:, ['country','marketvalue']]
MaxCountryUtil

           country         rank      sales   profits     assets  marketvalue
0          Austria  1184.000000   2.180000  0.160000   7.270000     4.280000
1            China  1842.000000   0.670000  0.140000   1.430000     3.390000
2  Hong Kong/China   811.000000   1.490000  0.880000   7.260000     9.040000
3            Japan   421.111111  14.401111  0.558889  39.857778    11.054444
4      South Korea   152.000000  18.010000  2.570000  58.380000    11.840000
5    United States  1202.000000   8.670000 -0.030000  22.555000     7.575000

In [15]:
MaxCountryUtil.drop(['rank','sales','profits', 'assets'], axis=1, inplace=True)
MaxCountryUtil.ix[MaxCountryUtil['marketvalue'].idxmax()]

country        South Korea
marketvalue          11.84
Name: 4, dtype: object

In [16]:
# Volviendo al dataset original, obtener las empresas espa√±olas
Forbes2000ESP = Forbes2000[Forbes2000.country == 'Spain']

In [18]:
Forbes2000ESP

,rank,name,country,category,sales,profits,assets,marketvalue
38,39,Banco Santander Central,Spain,Banking,28.70,3.28,442.24,56.78
56,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,2.81,288.80,44.67
108,109,Repsol-YPF,Spain,Oil & gas operations,29.14,2.05,39.34,26.22
114,115,Endesa Group,Spain,Utilities,20.43,1.65,57.92,21.10
188,189,Iberdrola,Spain,Utilities,11.94,1.33,30.99,18.78
378,379,Banco Popular Espaqol,Spain,Banking,3.32,0.67,44.01,14.38
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
462,463,Gas Natural SDG,Spain,Utilities,5.53,0.85,9.25,11.28
472,473,Altadis,Spain,Food drink & tobacco,9.45,0.46,8.66,9.48
529,530,Unisn Fenosa,Spain,Utilities,6.13,0.36,15.71,6.35
532,533,Cepsa,Spain,Oil & gas operations,8.85,0.48,6.31,9.29
605,606,Grupo Ferrovial,Spain,Construction,5.29,0.48,11.78,5.11
734,735,FCC Group,Spain,Construction,5.77,0.29,7.14,4.99
762,763,Inditex,Spain,Household & personal products,4.28,0.47,3.24,13.52
787,788,Banco de Sabadell,Spain,Banking,1.99,0.30,38.38,4.77
876,877,ACS Group,Spain,Construction,4.64,0.19,5.16,6.24
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1035,1036,Acciona,Spain,Construction,3.59,0.17,6.11,4.13
1058,1059,Bankinter,Spain,Banking,1.37,0.17,30.05,3.26
1059,1060,Abertis Infraestructuras,Spain,Transportation,0.80,0.21,6.78,7.43
1074,1075,Iberia,Spain,Transportation,4.71,0.17,4.85,3.34
1426,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,0.20,1.34,3.60
1435,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,0.22,3.75,4.09
1493,1494,Acerinox,Spain,Materials,2.63,0.18,2.70,3.05
1623,1624,Enagas,Spain,Oil & gas operations,1.97,0.18,3.89,2.83
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
1897,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,0.15,4.28,2.36
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02

In [22]:
# Indexar el dataframe anterior por beneficios (profits) y obtener los nombres y rangos de
# las que tengan un beneficio nulo o negativo. Nota: intenta indexar de manera mixta con
# n√∫meros (filas) y etiquetas columnas), hay una operaci√≥n espec√≠fica para esto en pandas

# Index por Profits

Forbes2000ESPidx = Forbes2000ESP.set_index('profits')

In [26]:
Forbes2000ESPidx.head(3)

,rank,name,country,category,sales,assets,marketvalue
profits,,,,,,,
3.28,39,Banco Santander Central,Spain,Banking,28.70,442.24,56.78
2.81,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,288.80,44.67
2.05,109,Repsol-YPF,Spain,Oil & gas operations,29.14,39.34,26.22

In [31]:
Forbes2000ESPidx.sort_index(inplace=True)
Forbes2000ESPidx.ix[:0, ['name','country','assets','rank']]

               name country  assets  rank
profits
-5.86    Telefsnica   Spain   60.65   409
-0.06     Sogecable   Spain    1.53  1993